[submodule "Api/Cubeads_api"]
    path = Api/Cubeads_api
    url = git@github.com:Fortune110/CubeOS-NewApi.git

[submodule "Api/eps_api"]
    path = Api/eps_api
    url = git@github.com:Cube-OS/isis-eps-api.git

[submodule "Service/CubeOS"]
    path = Service/CubeOS
    url = git@github.com:Cube-OS/CubeOS.git

[submodule "Service/eps_service"]
    path = Service/eps_service
    url = git@github.com:Cube-OS/eps-service.git