[submodule "API/Cubeads_api.git"]
	path = API/Cubeads_api.git
	url = git@github.com:Fortune110/CubeOS-NewApi.git
[submodule "API/eps_api.git"]
	path = API/eps_api.git
	url = git@github.com:Cube-OS/isis-eps-api.git
